/bin/
/log.txt
/log-test.txt
/out/
/target/
/log.txt.1
/log-benchmark.txt
/log-test.txt.lck
/log-test.txt.1
/evaluation.csv
/log.txt.lck
/log-benchmark.txt.1.lck
/newsTeller-0.0.1-SNAPSHOT.jar
/newsTeller.jar
/newsTellerServer.jar
